.nav
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  height: 15rem
  background-color: #FDFFFD
  border-bottom: 2px solid #ddd
  margin-bottom: 2.5rem

  &__logo
    height: 10rem
    width: 10rem

  &__navigation
    font-size: 2rem
    display: flex
    justify-content: center
    align-items: center

    &--home
      height: 10rem
      width: 10rem

    &--podcasts,
    &--about
      margin: 0 3rem
      color: $color-grey-dark-1
      border-bottom: 2px solid $color-grey-dark-1
      padding-bottom: 0.01rem