.about
  width: 60%
  margin: 5rem auto 0

  @include respond(tab-port)
    width: 80%

  @include respond(phone)
    width: 90%

  &__heading
    font-size: 5rem

  &__jack, &__connor, &__homepage
    font-size: $default-font-size

  &__image
    margin-top: 1rem
