.about
  width: 60%
  margin: 2.5rem auto 0
  border-top: 2px solid $color-grey-light-1
  padding-top: 2.5rem

  @include respond(tab-port)
    width: 80%

  @include respond(phone)
    width: 90%

  &__heading
    font-size: 5rem

  &__bio, &__homepage
    font-size: $default-font-size

  &__bio--img
    width: 20rem
    height: 20rem
    border-radius: 50%

    @include respond(phone)
      width: 15rem
      height: 15rem

  &__image
    margin-top: 1rem

  &__bio
    display: flex
    align-items: center

    & > img
      margin-left: 3rem

      @include respond(phone)
        margin-left: 0

    @include respond(phone)
      flex-direction: column-reverse

    &--reverse
      flex-direction: row-reverse

      & > img
        margin-right: 3rem
        margin-left: 0rem

        @include respond(phone)
          margin-right: 0
          margin-left: 0

      @include respond(phone)
        flex-direction: column-reverse
