.section-landing
  min-height: 100vh
  min-width: 100vw
  background-image: linear-gradient(to right bottom, rgba($color-black, 0.3), rgba($color-black, 0.3)), url(../images/wavy.jpg)
  background-size: cover
  background-position: center

  @media (min-resolution: 192dpi) and (min-width: 37.5rem), (min-width: 125rem)
    background-image: linear-gradient(to right bottom, rgba($color-black, 0.3), rgba($color-black, 0.3)), url(../images/wavy.jpg)

  .landing
    width: 100%
    color: $color-black
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center

    &__heading
      text-transform: uppercase
      font-weight: 100
      font-size: 9rem

      @include respond(phone)
        font-size: 6rem

    &__logo
      width: 25rem
      margin-bottom: 0

    &__sub-heading
      font-size: 2rem
      margin: 6rem auto 10rem
      width: 50%
      color: $color-white

      @include respond(phone)
        width: 90%

    &__navigation
      font-size: 3rem

      &--podcasts,
      &--about
        margin: 0 1rem
        color: $color-primary-light
        border: 2px solid $color-primary-light
        padding: 1.5rem 3rem
        border-radius: .5rem

        &:hover
          background: $color-primary-light
          color: $color-white
