.podcasts
  width: 70%
  margin: 5rem auto

  @include respond(tab-port)
    width: 80%

  @include respond(phone)
    width: 90%

  &__heading
    font-size: 5rem

    &--image
      height: 25rem
      background-image: url(../images/wavy2.jpg)
      background-size: cover
      // background-attachment: fixed

  &__image
    margin-bottom: 0

  &__list
    margin: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__item
    font-size: $default-font-size
    border-radius: 0.5rem
    padding: 5rem
    box-shadow: 0 3rem 5rem rgba($color-black, 0.1)
    margin-bottom: 5rem

    @include respond(tab-port)
      padding: 3rem

    &--link
      font-size: 2rem

    &--excerpt  

  &__home
    font-size: $default-font-size

  &__row
    display: flex  
    position: relative
    width: 60%

    @include respond(tab-port)
      flex-direction: column-reverse
      width: 100%

  &__info    
    padding: 2rem
    &--wrap
      position: fixed
      width: 30rem
      // top: 50%
      // transform: translateY(-50%)
      right: 8%
      font-size: $default-font-size
      box-shadow: 0 3rem 8rem rgba($color-black, 0.1)


      @include respond(tab-port)
        position: relative
        // width: 100%
        right: 0
        // top: 0
        // transform: translateY(0)
        margin-bottom: 2rem

  &__info--social-links
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    @include respond(tab-port)
      // justify-content: flex-start

  &__info--social-link
    font-size: 4rem
    @include respond(tab-port)
      margin-right: 1rem    
