.podcasts
  width: 60%
  margin: 2.5rem auto 5rem
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-top: 2.5rem
  border-top: 2px solid $color-grey-light-1

  &__heading
    font-size: 5rem

  &__list
    margin: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 60rem

  &__item
    font-size: $default-font-size
    border-radius: 0.5rem
    padding: 5rem
    margin-bottom: 5rem
    border: 1px solid $color-grey-light-1

    @include respond(tab-port)
      padding: 3rem

    &--link
      font-size: 2rem

  &__info    
    padding: 2rem
    width: 30rem
    // margin-left: 3rem
    margin: 7rem 0 0 3rem
    max-height: 50rem
    font-size: $default-font-size
    border: 1px solid $color-grey-light-1

    @include respond(tab-port)
      display: none
         
